/.sconsign.dblite
/TAGS
/bin/
/create-tags.sh~
/src/c/SimpleFragmentShader.glsl
/src/c/SimpleVertexShader.glsl
/src/c/files.cpp~
/src/c/files.o
/src/c/keyboard_handler.cpp~
/src/c/keyboard_handler.o
/src/c/main.o
/src/c/shaders.o
/src/headers/files.h~
/src/headers/keyboard_handler.h~
/src/headers/main.h~
/src/shaders/fragmentShader.glsl~
/src/c/fragmentShader.glsl
/src/c/vertexShader.glsl
/src/c/vertextShader.glsl
/src/shaders/vertextShader.glsl
/src/c/triangleFragment.glsl
/src/shaders/triangleFragment.glsl~
/src/c/GPATH
/src/c/GRTAGS
/src/c/GTAGS
/.gitignore~
/src/c/fragmentWithColor.glsl
/src/c/vertexWithColor.glsl
/src/shaders/fragmentWithColor.glsl~
/src/shaders/vertexWithColor.glsl~
/src/c/gl_apu.cpp~
*.o
*~
